:root{
    background-color: #f7fcf5;
    --primary-color: #00441b;
    --secondary-color: #74c476;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    max-width: 1224px;
    margin: auto;
}

section{
    min-height: 50vh;
    margin: 2em 1em;
}

/* HEADER SECTION */

header{
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}


/* HERO SECTION */
.hero-section{
    background-image: linear-gradient(), url(../assets/);
}